body{
    margin: 0px;
}

@font-face {
    font-family: 'ApexMk3';
    src: local("ApexMk3"), url(./fonts/Apex\ Mk3-Medium.otf) format("opentype");
  }

.header{
    display: block;
    background-image: url("images/nathria.jpg");
}

.header-title{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #f4f4f4;
    font-size: 62px;
    text-shadow: 1px 2px 1px #1e1e1e;
    font-family: ApexMk3;
}

.article-shriekwing{
    background-image: url("images/shriekwing.png");
}
